@model IEnumerable<BillsData.Budget>

@{
    ViewData["Title"] = "Index";
}

<h2>Budget</h2>
<table class="table">
    <thead>
        <tr>
            <th>Transaction Category </th>
            <th>Name</th>
            <th>Limit</th>
            <th>Amount</th>
            <th>From</th>
            <th>To</th>
            <th>Create date</th>
            <th>Modification date</th>
            <th>
            <th><a id=button_add asp-controller="Budget" asp-action="Create" class="btn btn-success btn-sm"><i style="color: white;" class="glyphicon glyphicon-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModyficationDate)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i style="color: blue;margin-right:10px" class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i style="color:gray;margin-right:10px" class="glyphicon glyphicon-menu-hamburger"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i style="color:red;margin-right:10px" class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>

}

    </tbody>
</table>
