@model IEnumerable<BillsData.TransactionCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <a id=button_add asp-action="Create" class="btn btn-success btn-sm"><i style="color: white;" class="glyphicon glyphicon-plus"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i style="color: black;margin-right:10px" class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i style="color:orange;margin-right:10px" class="glyphicon glyphicon-menu-hamburger"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i style="color:black;margin-right:10px" class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
